<div class="text-3xl font-bold pb-8">
    Section
</div>

<div class="w-1/2 m-auto">
    <table id="user_table" class="stripe">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>

        <tbody>
        <!--
            TODO: If theyre an admin, show a dropdown of each section so they can view that specific section, otherwise show their own set as an instructor
        -->
        <% for (const student of students) { %>
            <% if (student.id !== user.id) { %>
                <tr>
                    <td><%= student.name %>
                    </td>
                    <td class="flex justify-center">
                        <a class="bg-red-500 hover:bg-red-400 text-white text-center font-semibold py-1.5 px-4 hover:border-red-500 rounded"
                           href="<%= "/delete/" + student.id %>">
                            Remove
                        </a>
                    </td>
                </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>

</div>

<script>
    $(document).ready( function () {
        $('#user_table').DataTable();
    });
</script>
