<div class="relative">
    <form action="/auth/login" method="post">
        <a href="/auth/google" class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-4 rounded absolute top-0 left-0">Login With Google</a>
    </form>
</div>