<a href="/admin" class="bg-red-500 hover:bg-red-400 text-white text-center font-semibold py-1.5 px-4 hover:border-red-500 rounded"> Back </a>

<table class="table-auto w-auto mr-auto ml-auto border border-solid border-black border-collapse">
    <h1 class="font-bold text-3xl text-center pb-1.5">Add A Site</h1>
    <tr>
        <th class="text-left border border-solid border-black border-collapse">
            Site Name
        </th>
    </tr>

    <form id="addForm" action="addSite" method="POST">
        <tr>
            <td>
                <input name="site">
            </td>
        </tr>
    </form>
</table>

<div class="flex items-center justify-center pt-2.5">
    <input type="submit" form="addForm" value="<%= "Add Site" %>"
           class="save-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
</div>