<div class="text-3xl font-bold pb-8">
    Admin
</div>

<div class="grid grid-cols-3 divide-x-4">
    <div>
        <span class="text-2xl font-bold">
            Users
        </span>

        <table class="table-auto w-auto mr-auto ml-auto border border-solid border-gray-200 border-collapse">
            <tr>
                <th class="text-left pl-5 text-lg w-72 border border-solid border-gray-200 border-collapse">
                    Name
                </th>
                <th class="text-left pl-5 text-lg w-72 border border-solid border-gray-200 border-collapse">
                    Role
                </th>
            </tr>

            <tbody>
            <% for (const siteUser of users) { %>
                <tr>
                    <td class="text-left pl-5 border bg-inherit border-gray-200">
                        <%= siteUser.name %>
                    </td>
                    <td class="flex justify-center border-b border-gray-200">
                        <form action="" method="post">
                            <input type="hidden" value="<%= siteUser.id %>" name="userId">
                            <select required name="role" onchange="submit(this);" class="form-select appearance-none
                                  block
                                  w-full
                                  px-6
                                  py-1.5
                                  mb-3
                                  text-base
                                  font-normal
                                  text-gray-700
                                  bg-white bg-clip-padding bg-no-repeat
                                  border border-solid border-gray-300
                                  rounded
                                  transition
                                  ease-in-out
                                  m-0
                                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <option value="STUDENT" <% if (siteUser.role === 'STUDENT') { %> selected <% } %>>
                                    Student
                                </option>
                                <option value="INSTRUCTOR" <% if (siteUser.role === 'INSTRUCTOR') { %> selected <% } %>>
                                    Instructor
                                </option>
                                <option value="ADMIN" <% if (siteUser.role === 'ADMIN') { %> selected <% } %>>
                                    Admin
                                </option>
                            </select>
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    </div>

    <div>
        <span class="text-2xl font-bold">
            Sites
        </span>
        <!-- - List of sites and button to make a new one-->
    </div>

    <div>
        <span class="text-2xl font-bold">
            Sections
        </span>
        <!-- - List of sections and button to make a new one-->
    </div>
</div>

<script>
    function submit(select) {
        const form = select.form;
        form.submit();
    }
</script>

