<a href="/admin" class="bg-blue-500 hover:bg-blue-400 text-white text-center font-semibold py-1.5 px-4 hover:border-red-500 rounded"> Back </a>
<h1 class="text-center">WARNING: Once you click the button, all the data will be permanently removed (except for instructors and sections).</h1>
<h2 class="text-center pt-2">Please proceed with caution</h2>


<div class="flex items-center justify-center pt-2.5">
    <button onclick="openModal('clearPtracker')" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-3">
        Reset Ptracker
    </button>
</div>

<dialog id="clearPtracker" class="bg-transparent z-1 relative w-screen h-screen">
    <div class="p-7 flex justify-center items-center fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-200 opacity-0">
        <div class="bg-white rounded-lg w-fit relative">
            <div class="flex flex-col items-start">
                <!-- Top of modal -->
                <div class="px-7 pt-7 flex flex-row items-center w-full">
                    <!-- Title -->
                    <div class="text-gray-900 font-bold text-lg">Reset Ptracker Confirmation
                    </div>
                    <!-- X button -->
                    <svg onclick="modalClose('clearPtracker')"
                         class="ml-auto fill-current justify-self-end text-gray-700 w-5 h-5 cursor-pointer"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                    </svg>
                </div>
                <div class="px-7 pb-3 flex justify-start items-center w-full">
                    <p class="whitespace-pre-line text-gray-500">
                        Are you sure you want to proceed with resetting Ptracker?
                        This will permanently remove everything, except for the instructors and sections.
                        Note: This will take a couple of minutes. Once it is finished, the application will return you to Adminland
                    </p>
                </div>
                <!-- Beginning of Form content -->
                <form id="deleteData" action="/admin/deletePtrackerData" method="POST">
                    <input type="hidden" name="confirmation" value="yesIWasSubmittedViaTheForm">
                </form>
                <!-- Bottom of modal -->
                <div class="px-7 pt-1 pb-7 flex justify-start items-center w-full">
                    <input type="submit" value="Delete" form="deleteData" class="w-full inline-flex justify-center rounded-md border border-transparent
                    shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-400 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm">
                    <button type="button" onclick="modalClose('clearPtracker')" class="w-full inline-flex justify-center rounded-md border border-gray-300
                    shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-100 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</dialog>

<script>
    function openModal(key) {
        document.getElementById(key).style.display = "block";
        document.getElementById(key).children[0].scrollTop = 0;
        document.getElementById(key).children[0].classList.remove('opacity-0');
        document.getElementById(key).children[0].classList.add('opacity-100')

    }

    function modalClose(key) {
        document.getElementById(key).children[0].classList.remove('opacity-100');
        document.getElementById(key).children[0].classList.add('opacity-0');
        setTimeout(function () {
            document.getElementById(key).style.display = "none";
            document.body.removeAttribute('style');
        }, 100);
    }


</script>
