<% if (locals.success_message) { %>
    <div id="success_message" class="p-4 mb-4 w-1/2 m-auto text-sm text-green-700 bg-green-100 rounded-lg" role="alert">
        <span class="font-medium">✅ Success!</span> <%= success_message %>
    </div>
    <script>
        setTimeout(() => {
            $('#success_message').fadeOut(250);
        }, 2500);
    </script>
<% } %>

<% if (locals.error_message) { %>
    <div id="error_message" class="p-4 mb-4 w-1/2 m-auto text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
        <span class="font-medium">❌ Error!</span> <%= error_message %>
    </div>
    <% if (!locals.error_perm) { %>
        <script>
            setTimeout(() => {
                $('#error_message').fadeOut(250);
            }, 4000);
        </script>
    <% } %>
<% } %>
