<nav>
    <div class="max-w-7xl mx-auto">
        <div class="flex items-center h-16">
            <div class="flex flex-1 items-center">
                <div class="flex-shrink-0">
                    <a href="/homepage" title="add a logo here soon pls">
                        Ptracker
                    </a>
                </div>
                <% if (user) { %>
                    <div class="ml-10 space-x-4">
                        <a href="/homepage" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                            🏡 Dashboard
                        </a>

                        <a href="/calendar" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                            🗓️ Calendar
                        </a>

                        <% if (user.isInstructor()) { %>
                            <a href="/section" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                                👥 Section
                            </a>

                            <!--
                            <a href="/reports" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                                📝 Reports
                            </a>
                            -->

                            <% if (user.isAdmin()) { %>
                                <a href="/admin" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                                    👮 Adminland
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="ml-10 flex space-x-1">
                        <span class="bg-<%= user.notificationsColour() %>-100 px-3 py-2 rounded-md text-sm font-medium">
                            🚨 <%= user.notifications.length %>
                        </span>
                        <span class="px-3 py-2 text-indigo-500 underline">
                            <%= user.name %>
                        </span>
                        <% if (user.picture) { %>
                            <img src="<%= user.picture %>" class="h-8 rounded-full mt-1" alt="">
                        <% } %>
                        <a href="/auth/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Logout
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>
<hr/>
