<nav>
    <div class="max-w-7xl mx-auto">
        <div class="flex items-center h-16">
            <div class="flex flex-1 items-center">
                <div class="flex-shrink-0">
                    PTracker
                </div>
                <% if (user) { %>
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/dashboard" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium <% if (page === 'dashboard') { %> border <% } %>">
                            🏡 Dashboard
                        </a>

                        <a href="/calendar" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium <% if (page === 'calendar') { %> border <% } %>">
                            🗓️ Calendar
                        </a>

                        <% if (user.isInstructor()) { %>
                            <a href="/section" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium <% if (page === 'section') { %> border <% } %>">
                                👥 Section
                            </a>

                            <!--
                            <a href="/reports" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium">
                                📝 Reports
                            </a>
                            -->

                            <% if (user.isAdmin()) { %>
                                <a href="/admin" class="hover:shadow-xl px-3 py-2 rounded-md text-sm font-medium <% if (page === 'admin') { %> border <% } %>">
                                    👮 Adminland
                                </a>
                            <% } %>
                        <% } %>
                        <label class="relative flex justify-between items-center px-3 py-2 rounded-md text-sm font-medium">
                            Dark Mode
                            <input type="checkbox" class="absolute left-0 top-0 w-full h-full appearance-none peer rounded-md" />
                            <span class="w-10 h-5 flex items-center flex-shrink-0 ml-4 p-1 bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-green-400 after:w-5 after:h-4 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-3 group-hover:after:translate-x-1"></span>
                        </label>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="ml-10 flex space-x-1">
                        <span class="bg-<%= user.notificationsColour() %>-100 px-3 py-2 rounded-md text-sm font-medium" title="Notifications">
                            🚨 <%= user.notifications.length %>
                        </span>
                        <span class="px-3 py-2 text-indigo-500 underline">
                            <%= user.name %>
                        </span>
                        <% if (user.picture) { %>
                            <div class="pr-2">
                                <img class="h-8 rounded-full mt-1 shadow-sm" src="<%= user.picture %>" referrerPolicy="no-referrer" alt="">
                            </div>
                        <% } %>
                        <a href="/auth/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Logout
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>
<hr/>
