<% include ('./convertUTC') %>
<% let dateMarked = null; %>

<div>
    <table class="table-auto w-auto border border-solid border-black border-collapse">
        <h1 class="font-bold text-3xl text-center"> <%= monthYear %> </h1>
        <tr>
            <th class="text-left w-auto border-collapse">Student</th>
            <% for (day = 1; day <= days; day++) { %>
                <td class="text-center w-12 border border-solid border-black border-collapse"><%= day %></td>
            <% } %>
        </tr>

        <tr>
            <th class="text-left w-52 border border-solid border-black border-collapse"><%= user.name %></th>
            <% for (day = 1; day <= days; day++) { %>
                <% for (const shift of user.shifts) { %>
                    <% if (getFullDate(shift.date) === `${date.toLocaleString('default', { month: 'long' })} ${day} ${year}`) { %>
                        <td class="font-bold text-center border border-solid border-black border-collapse"> X </td>
                            <% dateMarked = true %>
                        <% } %>
                    <% } %>
                    <% if (dateMarked == false) { %>
                        <td class="border border-solid border-black border-collapse"></td>
                    <% } else { %>
                        <% dateMarked = false %>
                    <% } %>
            <% } %>
        </tr>
    </table>
</div>