<div id="container-app">
    <h1 class="text-center p-4">Tip: To input a shift, click on a date, input your site and shift type, and click Add Shift</h1>
    <div id="calendar"></div>
</div>

<%- include("../modals/addSelfShift") %>

<%- include("../modals/editSelfShift") %>

<%- include("../modals/deleteSelfShift") %>
