<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nurse Joy</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <%- body %>
        <%- include("./partials/footer") %>
    </body>
</html>