<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PTracker</title>
        <link href="./stylesheets/tailwind.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="../favicon.ico">
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div class="container mx-auto pt-8">
            <%- body %>
        </div>
        <%- include("./partials/footer") %>
    </body>
</html>
