<div class="w-3/4 m-auto">
    <h1 class="pb-3">ONLINE LEARNING TOOL INFORMATION SHEET: Ptracker</h1>
    <h2 class="pb-2">COURSE: BSNC 8100</h2>
    <p class="py-3">
        BCIT supports many different educational styles and tools and seeks to provide students with opportunities to enhance their learning experience.  As this may include using web-based or cloud-based online learning tools, BCIT recognizes that the use of such tools may give rise to concerns about personal privacy. The purpose of this Information Sheet is to provide you with information about the online tool (identified below) that your instructor has identified for student use in the Course.

    </p>
    <p class="py-3">
        Therefore, it is important that you read this information carefully and make a decision about whether you wish to participate in the use of Ptracker for this course. If you decide to use this online tool, please click the Accept button to confirm that you have read this information, understand and agree to its terms. If you do not want to use this tool or have any questions about the privacy protections in place, please contact your instructor.  In most cases, the use of a specific online tool will be optional, or instructors will have identified alternatives to their use.  However, if the instructor has determined use of this learning tool is a mandatory part of the course and no alternative is available, then you need to carefully consider whether you wish to remain registered in the course.
    </p>

    <h3> What is Ptracker? </h3>
    <p class="py-3">
        Ptracker is an application that lets students input shifts into a calendar and have it displayed in the dashboard page. It also allows instructors to view all of their students’ shifts. This application restricts students from being able to see other student’s shifts, while still giving instructors the view of all their students’ shifts.
    </p>
    <h3> How will Ptracker be used in this course? </h3>
    <p class="py-3">
        Originally student information was collected on paper format during face-to-face meetings. However, as we will be communicating virtually, to receive information regarding student schedules, or booking clinical debriefs or student/preceptor contact, Ptracker offers shared online documenting replacing the original paper copy format that was previously used.

        This tool is provided as an avenue for students to submit and update information in real-time. Your instructor will create the necessary documents for you to complete; however, it is not mandatory.  Should you choose not to use the tool, you can email your instructor the requested information, which will be manually inputted by the instructor into a word or excel document.
    </p>

    <h3> Privacy </h3>
    <p class="py-3">
        In order to register and use the software, Ptracker will collect and maintain your first and last name and (google or BCIT) email address.  This information is maintained by (TBA) on servers located outside of Canada.  This means that some of your information may be subject to the laws of another jurisdiction where privacy laws differ from the laws of Canada.
    </p>
    <p class="py-3">
        If you have any questions about how Ptracker will be used in this course, please contact your Instructor.  For more information about BCIT’s privacy protection practices, contact the Associate Director, Privacy at privacy@bcit.ca or 604-432-8508.
    </p>

    <h3> CONSENT FOR USE OF: Ptracker </h3>
    <p class="py-3">
        I, <b> <%= user.name %> </b>, am registered in the Course for the Academic Session, and acknowledge that the Instructor is recommending that students use an online tool known as Ptracker offered by Nurse Joy’s ISSP Team.

        I understand that the Program has been selected for use by the Instructor because it will provide students with an enhanced learning experience.  To ensure that I understand how my personal privacy may be affected by the use of the Program, I understand and agree that it is my responsibility to read: (a) the attached information sheet (“Info Sheet”) explaining how BCIT may collect, use and disclose my information through the Program; and (b) the Provider’s Terms of Use and Privacy Policy to ensure I understand how my information will be collected, used or disclosed by the Provider.

        By signing this consent, I acknowledge and agree that:
    </p>

    <ul>
        <li>In order to use the Program, I may be required to register with and provide some personal information about me to the Provider. </li>
        <li>The Instructor may collect, use and disclose my personal information through the Program for Course delivery, student evaluation and as otherwise explained in the Info Sheet.</li>
        <li>The Provider is a third party organization that may store my personal information outside of Canada as explained in the Info Sheet.</li>
        <li>I am aware of and understand that use of the Program may pose additional personal information privacy risks, and that it is my responsibility to minimize my own risk or risks to the other students’ personal privacy by collecting, using and disclosing through the Program only the personal information that is necessary to complete the Course or as instructed by the Instructor.</li>
        <li>I understand and agree that I may be required by the Provider to accept its terms of use and to enter into a separate legal relationship with the Provider.  I further understand that the Provider may not be providing services under contract to BCIT, and BCIT may therefore have a limited ability to exercise controls over the Provider’s information management practices.  </li>
        <li>Use of the Program is not mandatory, and I may at any time ask the Instructor for offline alternatives to the use of the Program.  My consent is valid for the duration of the Course unless I revoke it in writing and deliver it to the Instructor.</li>
    </ul>

    <p class="py-3">
        I have read and understand this Student Consent Agreement and accept the use of the Program as described above and in the attached Info Sheet.
    </p>

    <form action="/nda" method="post" class="mb-8">
        <input type="hidden" name="secret_nda_thing" value="yes-i-actually-used-the-button">
        <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
            I Accept
        </button>
    </form>
</div>

<style>
    li {
        list-style-type: disc;
    }
    ul {
        padding-left: 36px;
    }
</style>
