<p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem orci, bibendum eget semper id, sodales id felis. Vivamus vel neque eget dui sodales accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam faucibus tempus est, sit amet consequat sapien dictum vitae. Nulla finibus mattis elementum. Etiam luctus porta magna, at porttitor turpis blandit non. Fusce et enim nec dui efficitur dictum. Etiam massa risus, aliquam vitae convallis nec, interdum vel eros. Sed at arcu iaculis odio consectetur malesuada a nec risus. Nulla porttitor accumsan quam, ac ultrices felis pretium eget. Cras eu convallis lectus. Curabitur euismod lorem vel velit feugiat ultrices. Aliquam congue enim nec lorem vestibulum, pulvinar hendrerit magna luctus. Phasellus efficitur sapien nec pulvinar lacinia. Morbi et nisi ultrices dolor aliquam molestie. Cras egestas pretium ex, et molestie est iaculis eget.

    Fusce vestibulum vulputate ullamcorper. Curabitur vel nisi ut arcu dignissim dictum sit amet ut odio. Integer laoreet, enim id interdum iaculis, augue mi consequat magna, nec congue nisi nunc vitae lorem. Praesent non interdum dolor, eget imperdiet nulla. Vestibulum non nunc odio. Nullam elementum magna neque. Fusce dictum ornare cursus. Phasellus porttitor sollicitudin quam. Etiam gravida purus nec lorem scelerisque, a laoreet mi pulvinar. Proin nisl nisl, sodales a dictum vel, ullamcorper sit amet tellus. Donec non tortor nunc. Ut lacus ante, lobortis gravida ornare in, blandit sed nunc. Nunc gravida interdum justo, quis tristique ligula luctus id. Etiam imperdiet venenatis eros a cursus. Cras egestas erat eget tempor tincidunt.
</p>

<form action="/nda" method="post">
    <input type="hidden" name="secret_nda_thing" value="yes-i-actually-used-the-button">
    <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
        I Accept
    </button>
</form>
