@tailwind base;
@tailwind components;
@tailwind utilities;

.deleteForm {
    display: inline-block
}

.fc-event-title{
    text-transform: capitalize;
}



input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

#container-app{
    height: 92vh;
}

@page {
    size: A4 landscape;
    size: 420mm 210mm;
}
@media print {
    .noprint {
       visibility: hidden;
    }
    .container{
        padding: 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
 }
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #fff;
    background: url('https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg') no-repeat right center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}
