@tailwind base;
@tailwind components;
@tailwind utilities;

#user_table tbody tr:hover, 
#instructor_table tbody tr:hover, 
#site_table tbody tr:hover,
#section_table tbody tr:hover  {
  background-color: rgba(188, 232, 241, 0.3);
}

.deleteForm {
    display: inline-block
}

.fc-event-title{
    text-transform: capitalize;
}

.highlighted{
    background: rgba(188, 232, 241, 0.3 ) !important;
}

.pending{
    background: rgba(255, 170, 170, 0.3 ) !important;
}
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

#logoutButton{
    background-color: #2C3E50;
    font-weight: 400;
}

#logoutButton:hover{
    background-color: #1e2b37;
    text-decoration: none;
}

#logoutButton:focus{
    box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}

#deleteStudentForm button:hover,
#sectionDeleteButton:hover,
.flex button:hover,
#userDeleteButton:hover,
#instructorDeleteButton:hover{
    color:white !important;
}

#container-app{
    height: 84vh;
}

@media print {
    .noprint {
       visibility: hidden;
       display: none !important;
    }
    .container{
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding-top: 0px !important;
    }
 }

 #calendar > div.fc-view-harness.fc-view-harness-passive > div > table > thead > tr > th:nth-child(3) > div > div > div > table > tbody > tr:nth-child(2){
     font-size: 13px;
 }
 
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #fff;
    background: url('https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg') no-repeat right center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}
